@font-face {
    font-family: Frutiger;
    src: url("/public/FrutigerLTStd-Roman.otf")format("opentype");
}

html, body {
    overflow-x: hidden;
}

body {
    background: rgb(182, 233, 235);
    color: #ffffff;
    text-align: center;
    font-family: Frutiger;
    margin: 0;
}

.full-width-bar {
    margin: 0 -9999rem;
    /* add back negative margin value */
    padding: 0.25rem 9999rem;
    /*background: rgb(8, 69, 154);*/
    /*background: rgb(152, 211, 217); */
    background: rgb(255, 255, 255);
}

#main-title {
    width: 500px;
    margin: auto;
}

#main-title h1 {
    color: rgb(8, 69, 154);
}

#main-title h2 {
    color: rgb(8, 69, 154);
    margin-top: -20px;
}

h2 {
    color: rgb(8, 69, 154);
}

img#zurich-logo {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    display: inline-block;
}

img#zinc-logo {
    float: right;
    margin-top: -75px;
    margin-right: 20px;
}

#container {
    position: relative;
    min-height: 610px;
    margin-top: 30px;
}

td {
    border: 1px solid #dddddd;
    padding: 8px;
}

table#klasemen {
    margin: auto;
    background: #ffffff;
    border-collapse: collapse;
}

table#data-peserta {
    margin: auto;
    background: #ffffff;
    border-collapse: collapse;
}

tr {
    color: #222222;
}

tr:first-child {
    background: rgb(8, 69, 154);
    color: #ffffff;
    line-height: 40px;
}

tr:nth-child(2)>td:nth-child(1) {
    background-image: url("/public/trophy.png");
    background-repeat: no-repeat;
    background-position: 50% 70%;
}

td:nth-child(1) {
    width: 70px;
}

td:nth-child(2) {
    width: 250px;
}

td:nth-child(3), td:nth-child(4) {
    width: 120px;
}

table#data-peserta td {
    font-size: 14px;
    text-align: left;
}

table#data-peserta td:nth-child(1) {
    width: 30px;
    text-align: center;
}

table#data-peserta td:nth-child(3) {
    width: 400px;
}

table#data-peserta td:nth-child(4) {
    width: 200px;
}

table#data-peserta td:nth-child(5), table#data-peserta td:nth-child(6) {
    width: 80px;
}

#footer {
    background: rgb(97, 150, 68);
    height: 100px;
    margin-top: 50px;
    bottom: 0;
    left: 0;
    position: fixed;
}

h1#data-view-title {
    color: rgb(8, 69, 154);
}

h1#input-title {
    margin-top: 40px;
    color: rgb(8, 69, 154);
}

#input-form {
    text-align: left;
    margin: auto;
    width: 470px;
}

#input-form label {
    color: rgb(8, 69, 154);
    text-align: left;
}

input#name {
    width: 375px;
    height: 50px;
    margin-left: 25px;
    margin-bottom: 5px;
}

input#swing {
    width: 375px;
    height: 50px;
    margin-left: 23px;
    margin-bottom: 5px
}

input#damage {
    width: 375px;
    height: 50px;
    margin-bottom: 5px;
    margin-left: 7px;
}

input#address {
    width: 375px;
    height: 50px;
    margin-left: 28px;
    margin-bottom: 5px
}

input#phone {
    width: 375px;
    height: 50px;
    margin-left: 10px;
    margin-bottom: 30px;
}

button#input-data-button {
    width: 100px;
    height: 30px;
    background: rgb(32, 89, 120);
    color: #fff;
    shadow: none;
    border: none;
    font-size: 14px;
    margin-left: 347px
}
